/data/playground/
/data/playground/**
/data/raw/
/data/raw/**

pyproject.toml
.gitignore
aerial_detector.egg-info/PKG-INFO
aerial_detector.egg-info/dependency_links.txt
aerial_detector.egg-info/SOURCES.txt
aerial_detector.egg-info/top_level.txt
src/__pycache__/config.cpython-310.pyc
src/features/__pycache__/transforms.cpython-310.pyc
